<launch>
<include file="$(find tagslam)/launch/apriltag_mynt_detector_node.launch">
    <!-- <arg name="camera_yaml" value="mynt_stero.yaml"/>
    <arg name="camera_poses_yaml" value="mynt_stero_poses.yaml"/> -->
  </include>

<include file="$(find mynteye_wrapper_d)/launch/mynteye.launch">
  </include>

<include file="$(find tagslam)/launch/tagslam_mynt.launch">
  </include>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find tagslam)/example/tagslam_example.rviz" output="screen"/>

</launch>